- const imgdir = "https://raw.githubusercontent.com/brimarq/fcc-personal-portfolio/master/assets/";
-
  const projects = [
    {
      title: 'Drum Machine',
      img: '../assets/drum-machine.jpg',
      link: 'https://codepen.io/brimarq/full/LBOOab'
    },
    {
      title: 'JS Calculator',
      img: '../assets/js-calculator.jpg',
      link: 'https://codepen.io/brimarq/full/ejXgNG'
    },
    {
      title: 'Pomodoro Clock',
      img: '../assets/pomodoro-clock.jpg',
      link: 'https://codepen.io/brimarq/full/aadZRR'
    },
    {
      title: 'Tribute Page',
      img: '../assets/tribute-page.jpg',
      link: 'https://codepen.io/brimarq/full/wvaopqR'
    },
    {
      title: 'Technical Documentation',
      img: '../assets/technical-documentation.jpg',
      link: 'https://codepen.io/brimarq/full/gNaxGR'
    },
    {
      title: 'Product Landing Page',
      img: '../assets/product-landing-page.jpg',
      link: 'https://codepen.io/brimarq/full/JjdKoJv'
    }
  ];

nav#navbar.navbar.fixed-top.navbar-expand-sm.navbar-dark.bg-primary
  .container
    a.navbar-brand(href='#' ) Brian Marquis
    button.navbar-toggler.border-0(type='button' data-toggle='collapse' data-target='#nav-main')
      span.navbar-toggler-icon
    #nav-main.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        - const collapseNavMain = 'document.querySelector("#nav-main").classList.remove("show")';
        li.nav-item: a.nav-link(href='#welcome-section' onclick=collapseNavMain) About
        li.nav-item: a.nav-link(href='#projects' onclick=collapseNavMain) Work
        li.nav-item: a.nav-link(href='#contact' onclick=collapseNavMain) Contact

section#welcome-section.vh-100.d-flex.flex-column
  .jumbotron.jumbotron-fluid.bg-dark.flex-grow-1.mb-0.bg-transparent
    .container.h-100.d-flex.flex-column
      .heading.my-auto.mx-auto
        h1 Brian Marquis
        h3.text-info web developer

section#projects.bg-secondary
  .container
    .row.row-cols-1.row-cols-sm-2.row-cols-md-3.pt-5
      each project in projects 
        .col.mb-5
          .card.h-100.project-tile.text-center
            img.card-img-top(src=project.img)
            .card-body
              h5.card-title #{project.title}
              a.btn.btn-info(href=project.link target='_blank' ref='noopener noreferrer') View on CodePen

section#contact.py-5
  .container
    ul.social-links.nav.justify-content-center
      li.nav-item.d-flex.flex-column.align-items-center
        a#profile-link.nav-link.text-primary(href='https://www.freecodecamp.org/brimarq' target='_blank' ref='noopener noreferrer')
          i.icon-social.fab.fa-free-code-camp(data-fa-mask="fas fa-circle" data-fa-transform="shrink-6")
        | freeCodeCamp
      li.nav-item.d-flex.flex-column.align-items-center
        a.nav-link.text-primary(href='https://github.com/brimarq' target='_blank' ref='noopener noreferrer')
          i.icon-social.fab.fa-github
        | GitHub
      li.nav-item.d-flex.flex-column.align-items-center
        a.nav-link.text-primary(href='https://codepen.io/brimarq/' target='_blank' ref='noopener noreferrer')
          i.icon-social.fab.fa-codepen(data-fa-mask="fas fa-circle" data-fa-transform="shrink-6")
        | CodePen
      li.nav-item.d-flex.flex-column.align-items-center
        a.nav-link.text-primary(href='mailto:rbmarquis.dev@gmail.com?subject=CodePen%20Profile%20Page%20Pen%20Response')
          i.icon-social.fas.fa-at(data-fa-mask="fas fa-circle" data-fa-transform="shrink-6")
        | Email

button#custom_fcc_foldout_toggler.btn.btn-dark #[i.fas.fa-power-off] TEST