mixin embeddedPen(title, slug) 
  p(class="codepen" data-height="265" data-theme-id="light" data-preview='true' data-default-tab="result" data-user="brimarq" data-slug-hash=slug style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title=title)
  //-   span See the Pen #[a(href="https://codepen.io/brimarq/pen/#{slug}") #{title}] by Brian Marquis (#[a(href="https://codepen.io/brimarq")] @brimarq) on #[a(href="https://codepen.io") CodePen]
  script(async src="https://static.codepen.io/assets/embed/ei.js")

mixin project-card 
  a.project-tile(href='#' target='_blank' ref='noopener noreferrer')
    .card
      .card-body
        h5.card-title Card Title
        p.card-text Card text


section#welcome-section.vh-100.d-flex.flex-column
  nav#navbar.navbar.sticky-top.justify-content-between.navbar-expand-sm.navbar-dark.bg-primary
    .navbar-brand 
      a.nav-link(href='#' ) Navbar brand
    ul.navbar-nav
      li.nav-item: a.nav-link(href='#welcome-section' ) About
      li.nav-item: a.nav-link(href='#projects' ) Work
      li.nav-item: a.nav-link(href='#contact' ) Contact

  .jumbotron.jumbotron-fluid.bg-dark.flex-grow-1.mb-0
    .container.h-100.d-flex.flex-column
     .heading.my-auto.mx-auto
        h1 Brian Marquis
        p web developer

section#projects
  .container
    .row.row-cols-1.row-cols-sm-3
      .col 
        //- +embeddedPen('fCC Pomodoro Clock', 'aadZRR')
        +project-card
      .col
        //- +embeddedPen('fCC JS Calculator', 'ejXgNG')
        +project-card
      .col
        //- +embeddedPen('fCC DrumMachine"', 'LBOOab')
        +project-card

section#contact
  a#profile-link(href='#' target='_blank' ref='noopener noreferrer') Link to my GH or FCC profile.
  p.icon-samples
    i.fab.fa-twitter
    i.fab.fa-twitter-square
    i.fab.fa-github
    i.fab.fa-github-square
    i.fas.fa-at
    i.fas.fa-envelope-square


footer(style="height:50px;")
   
    
//- button#custom_fcc_foldout_toggler.btn.text-nowrap !{svgPwrSymbol} TEST
button#custom_fcc_foldout_toggler.btn.btn-dark #[i.fas.fa-power-off] TEST